.container{
  margin : 5vw;
  width: 90vw;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  
  color: #EAEAEA;
}

.title{
    font-size: 48px;
    font-weight: bold;
    color: #EAEAEA;
    margin-bottom: 1rem;
    border-left: 4px solid;
    padding-left: 10px;
}

select {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;

  width: 220px;
  height: 43px;
  color: #EAEAEA;
  background: #3a3a3c;
  border: 1px solid #7c7c7d;
  border-radius: 4px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tierselect{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;

  width: 220px;
  height: 43px;

  background: #3A3A3C;
  border: 1px solid #7C7C7D;
  border-radius: 4px;
  color: #EAEAEA;

  flex: none;
  order: 0;
  flex-grow: 0;

  margin-bottom: 20px;
}

.checkbox{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;

  width: 25px;
  height: 25px;

  background: #3A3A3C;
  border: 1px solid #7C7C7D;
  border-radius: 4px;
  color: #EAEAEA;

  flex: none;
  order: 0;
  flex-grow: 0;

  margin-bottom: 20px;
}

.checkbox:checked {
    background-color: red;
}

.inputflex {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.button {
  background: #91282C;
  border-radius: 12px;
  color: #EAEAEA;
  border: none;
  width: auto;
  height: 50px;
  padding: 12px 36px;
  gap: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  margin-bottom: 30px;
}

.resetbutton {
  background: #3a3a3c;
  border-radius: 12px;
  color: #EAEAEA;
  border: none;
  width: auto;
  height: 50px;
  padding: 12px 36px;
  gap: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  margin-bottom: 30px;
}

.result{
  border-top: 2px solid #91282C;
  border-bottom: 2px solid #91282C;
  padding-top: 20px;
  padding-bottom: 20px;
}

.resultarea {
  background-color: #3A3A3C;
  color: #EAEAEA;

  display: flex;
  flex-direction: row; /* 가로 정렬 */
  justify-content: flex-start; /* 왼쪽 정렬 */
  align-items: stretch; /* 내부 요소들이 세로로 늘어나도록 */
  gap: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left : 20px;
  width: 90% ; /* 가로 100% */
  height: auto; /* 최소 높이를 설정하여 높이가 깨지지 않도록 */
  
  background: #3A3A3C;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}


.lastAtag{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;

  /* a태그 색 */
  color: #EAEAEA;
  text-decoration: none;


}

.colorblock{
  display : block;
  width: 20px;
  height: 20px;
  border-radius: 15%;
  border: white 1px solid;
}

.ColorRank {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.ColorRankContainer {
  margin-top: 20px;
  max-height: 700px; /* 테이블 높이가 400px을 넘으면 스크롤 발생 */
  overflow-y: auto;  /* 세로 스크롤 */
  overflow-x: hidden; /* 가로 스크롤 숨기기 */
  white-space: nowrap;
  border: 1px solid #444; /* 테이블 주변에 테두리 추가 */
  
}

.ColorRankContainer::-webkit-scrollbar {
  height: 8px; /* 세로 스크롤바 높이 */
}

.ColorRankContainer::-webkit-scrollbar-track {
  background: #3A3A3C;
}

.ColorRankContainer::-webkit-scrollbar-thumb {
  background: #7C7C7D;
  border-radius: 4px;
}

.ColorRank thead th {
  background-color: #333;
  color: #fff;
  padding: 12px 8px;
  border-bottom: 2px solid #aa0000;
}

.ColorRank tbody tr {
  border-bottom: 1px solid #444;
  transition: background-color 0.2s;
  height: 50px;
}

.ColorRank tbody tr:hover {
  background-color: #222;
}

.ColorRank td {
  padding: 10px 8px;
  height: 50px;
}

/* 열 너비 조정 */
.ColorRank thead th:nth-child(1), .ColorRank thead tr td:nth-child(1),
.ColorRank tbody td:nth-child(1) {
  width: 15%; /* 선택 열 */
}

.ColorRank thead th:nth-child(2), .ColorRank thead tr td:nth-child(2) 
.ColorRank tbody td:nth-child(2) {
  width: 35%; /* 아이템 열 */
}

.ColorRank thead th:nth-child(3),.ColorRank thead tr td:nth-child(3) 
.ColorRank tbody td:nth-child(3) {
  width: 25%; /* 확률 열 */
}

.ColorRank thead th:nth-child(4),
.ColorRank tbody td:nth-child(4) {
  width: 25%; /* 확률 열 */
}

.ColorRank td input[type="checkbox"] {
  transform: scale(2); /* 체크박스 크기 조정 */
  width: 100%;
}

.ColorRank tbody tr{
  height: 50px;
}

.ColorRank tbody tr:nth-child(even) {
  background-color: #2a2a2a;
}

.ColorRank tbody tr:nth-child(odd) {
  background-color: #1e1e1e;
}

.ColorRank tbody tr:nth-child(1) td:nth-child(1) {
  background-color: #f7c83b;

}

.ColorRank tbody tr:nth-child(2) td:nth-child(1) {
  background-color: #cbc9c9;
}

.ColorRank tbody tr:nth-child(3) td:nth-child(1) {
  background-color: #e8763b;
}



.ColorRank tfoot td {
  border-top: 2px solid #aa0000;
  font-weight: bold;
  color: #ff9999;
  padding: 10px;
  text-align: right;
}

/* Loading Spinner styles */
.loadingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust this based on your design */
}

.spinner {
  border: 8px solid #f3f3f3; /* Light background color */
  border-top: 8px solid #3498db; /* Blue color for spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

/* Spinner animation */
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
