.container{
  margin : 5vw;
  width: 90vw;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  
  color: #EAEAEA;


}

.title{
    font-size: 48px;
    font-weight: bold;
    color: #EAEAEA;
    margin-bottom: 1rem;
    border-left: 4px solid;
    padding-left: 10px;

}

select {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;

  width: auto;
  height: 43px;
  color: #EAEAEA;
  background: #3a3a3c;
  border: 1px solid #7c7c7d;
  border-radius: 4px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tierselect{
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 10px;

width: 220px;
height: 43px;

background: #3A3A3C;
border: 1px solid #7C7C7D;
border-radius: 4px;
color: #EAEAEA;

flex: none;
order: 0;
flex-grow: 0;

margin-bottom: 20px;

}


.checkbox{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;

  width: 220px;
  height: 43px;

  background: #3A3A3C;
  border: 1px solid #7C7C7D;
  border-radius: 4px;
  color: #EAEAEA;

  flex: none;
  order: 0;
  flex-grow: 0;

  margin-bottom: 20px;
}

input{

width: 150px;
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 10px;

color: #EAEAEA;
background: #3A3A3C;
border: 1px solid #7C7C7D;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

.inputflex{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.button {
  background: #91282C;
  border-radius: 12px;
  color: #EAEAEA;
  border: none;
  width: auto;
  height: 50px;
  padding: 12px 36px;
  gap: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  margin-bottom: 30px;
}

.resetbutton {
  background: #3a3a3c;
  border-radius: 12px;
  color: #EAEAEA;
  border: none;
  width: auto;
  height: 50px;
  padding: 12px 36px;
  gap: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  margin-bottom: 30px;
}

.result{
  border-top: 2px solid #91282C;
  border-bottom: 2px solid #91282C;
  padding-top: 20px;
  padding-bottom: 20px;
}


.resultarea {
  background-color: #3A3A3C;
  color: #EAEAEA;

  display: flex;
  flex-direction: row; /* 가로 정렬 */
  justify-content: flex-start; /* 왼쪽 정렬 */
  align-items: stretch; /* 내부 요소들이 세로로 늘어나도록 */
  gap: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left : 20px;
  width: 90% ; /* 가로 100% */
  height: auto; /* 최소 높이를 설정하여 높이가 깨지지 않도록 */
  
  background: #3A3A3C;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}