
.button {
  background: #91282C;
  border-radius: 12px;
  color: #EAEAEA;
  border: none;
  width: auto;
  height: 50px;
  padding: 12px 36px;
  gap: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  margin-bottom: 30px;
}

.resetbutton {
  background: #3a3a3c;
  border-radius: 12px;
  color: #EAEAEA;
  border: none;
  width: auto;
  height: 50px;
  padding: 12px 36px;
  gap: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  margin-bottom: 30px;
}

.result{
  border-top: 2px solid #91282C;
  border-bottom: 2px solid #91282C;
  padding-top: 20px;
  padding-bottom: 20px;
}

.TierSelect {
  width: 200px;
}

.TierInput {
  width: 150px;
}


.TierResultTitle {
  width: 180px;
}

.TierResultText {

}