.adContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%; /* 광고판 전체 너비 */
  min-height: 60px;
  height: auto; /* 광고 높이 */
  background-color: #e0e0e0da; /* 밝은 배경 */
  border-radius: 10px; /* 둥근 테두리 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 가벼운 그림자 효과 */
  border: 1px solid #e0e0e0; /* 부드러운 테두리 색상 */
  margin: auto;
  margin-top: 15px;
  /* 내용이 넘치면 다음줄로 */
}

.ad {
  font-size: 22px; /* 글씨 크기 */
  font-weight: 600; /* 약간 굵은 텍스트 */
  color: #333333; /* 검은 배경에 잘 보이는 색상 */
  text-align: center;
  animation: fade-in 0.5s ease-in-out; /* 부드러운 등장 효과 */
}

/* 텍스트 등장 애니메이션 */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a{
    text-Align:center; 
    color:rgb(209, 159, 159);
    font-weight: bold;
    display:flex;
    justify-Content:center;
}