.header {
    width: 100%;
    background: #85282C;
}

.logo {
    color: #EAEAEA;
    width: 36px;
    height: 36px;
    @media (max-width: 768px) {
        width: 28px;
        height: 28px;
    }
    @media (max-width: 480px) {
        width: 25px;
        height: 25px;
    }
}

.menu {
    width: 100%;
    background: linear-gradient(180deg, #242426 0%, rgba(36, 36, 38, 0) 100%);
    padding: 12px 12px 0  12px;
}

.menubar {
    padding: 12px 12px 0  12px;
    justify-content: center;
    align-items: flex-start;
    overflow-x: auto;
    white-space: nowrap;
}

.menubar::-webkit-scrollbar {
    height: 8px;
}

.menubar::-webkit-scrollbar-track {
    background: #3A3A3C;
}

.menubar::-webkit-scrollbar-thumb {
    background: #7C7C7D;
    border-radius: 4px;
}