.Container {
    display: flex;
    height: fit-content;
    box-sizing: border-box;
}

.DirectionRow {
    flex-direction: row;
}

.DirectionColumn {
flex-direction: column;
}

.Container > * {
    margin: 0;
}
