.foot {
    margin-top: 2rem;
    margin-inline: auto;
    font-family: 'Pretendard';
    font-style: normal;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%; /* 부모 요소가 뷰포트 전체를 차지하게 설정 */

    /* 색 투명도  */
    /* 242426 */
    color: gray
}

a {
    color: gray;
    text-decoration: none;
    margin-top: 10px; /* 원하는 값으로 설정 */
    margin-bottom: 10px; /* 원하는 값으로 설정 */
}

a:hover {
    color: white;
}