.header{
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, #242426 0%, rgba(36, 36, 38, 0) 100%);
  }
  
  .logo{
    width: 100px;
    margin-top : 15px;
    margin-left: 30px;
  }

  @media (max-width: 768px){
    .logo{
      width: 50px;
    }
  }
  @media (max-width: 480px){
    .logo{
      width: 25px;
    }
  }


.menu{
    display: flex;
    padding: 0px;
    width: 100%;
    height: 132px;

    background: #85282C;
}

.menubar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  gap: 20px; /* Add space between the a tags (adjust the value as needed) */
}

.notactive {
  color: white;
  margin-top: auto;
  margin-bottom: 0px;
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.active {
  color: white;
  margin-top: auto;
  margin-bottom: 0px;
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;

  border-bottom: solid 3px white;
}

.menubar::-webkit-scrollbar {
  height: 8px; /* 세로 스크롤바 높이 */
}

.menubar::-webkit-scrollbar-track {
  background: #3A3A3C;
}

.menubar::-webkit-scrollbar-thumb {
  background: #7C7C7D;
  border-radius: 4px;
}